# KAS/Yocto build artifacts
build/
downloads/
sstate-cache/

layers/poky/
layers/meta-openembedded/
layers/meta-raspberrypi/


# Editor files
*.swp
*.swo
*~
.vscode/settings.json

# Python
__pycache__/
*.pyc
